@tailwind components;

@layer components {
    [class^='button-'] {
        @apply inline-block rounded p-2 text-sm font-semibold leading-8;
    }

    $colors: button, brand, informative, successful, cautionary, destructive;
    $variants: solid, muted, outline, ghost;

    @each $color in $colors {
        @each $variant in $variants {
            .button-#{$color}-#{$variant} {
                @if ($variant == 'solid') {
                    background: var(--#{$color});
                    color: var(--#{$color}-subtle);
                } @else {
                    color: var(--#{$color});
                }
                @if ($variant == 'muted') {
                    background: var(--#{$color}-subtle);
                }
                @if ($variant == 'outline') {
                    box-shadow: 0
                        0
                        0
                        var(--border-width)
                        var(--#{$color}-subtle);
                }
            }
        }
    }
}
